<div>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Organization</th>
				<th>Purpose</th>
				<th>Contact</th>
				<th>Flags</th>
			</tr>
		</thead>
		<tbody>
			{{#each org in model}}
			<tr>
				<td>{{#link-to 'organizations.edit.profile' org.id}}{{org.profile.orgName}}{{/link-to}}</td>
				<td>{{org.profile.displayOrgTypes}}</td>
				<td>{{#if org.profile.contact.email}}
						<a href="mailto:{{unbound org.profile.contact.email}}" title="{{unbound org.profile.contact.email}}">{{org.profile.contact.name}}</a>
					{{else}}
						{{org.profile.contact.name}}
					{{/if}}
					({{org.profile.contact.preferCellPhone}})
				</td>
				<td>{{#if org.profile.address.missingLatLng}}
					<span class="label label-sm label-warning arrowed-in">No Geo</span>
					{{/if}}
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>