<div class="add-user col-sm-8">
	<form class="form-horizontal">
		<div {{bind-attr class=":form-group error:has-error"}}>
			<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="email">Email Address:</label>

			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					{{input
						type="text"
						id="email"
						class="col-xs-12 col-sm-6"
						value=model.email}}
				</div>
				{{#if error}}
					<span class="help-block">{{error}}</span>
				{{/if}}
			</div>
		</div>

		<div class="space-2"></div>

		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="role">Security Role(s):</label>

			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					{{view "select"
						content=roles
						selectionBinding=model.roles
						multiple="true"
						optionTitlePath="content.desc"
						optionLabelPath="content.display"
						optionValuePath="content.id"}}
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 space-2"></div>
			<div class="col-xs-12 col-sm-9 col-sm-offset-2">
				<button type="button" class="btn btn-sm btn-default" {{action 'cancel'}}>
					Cancel
				</button>
				<button type="button" class="btn btn-sm btn-info" {{action 'save'}}>
					Save
					<i class="ace-icon fa fa-floppy-o bigger-110"></i>
				</button>
			</div>
		</div>
	</form>
</div>