<div class="widget-box profile-address">
	<div class="widget-header">
		<h4 class="smaller">
			Address
			<small></small>
		</h4>
	</div>

	<div class="widget-body">
		<div class="widget-main">
		    <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" id="validation-form" method="get" novalidate="novalidate">
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-sm-3 no-padding-right" for="address1">Address 1:</label>
                            <div class="col-xs-9">
                                <div class="clearfix">
                                    {{input type="text" id="address1" class="col-xs-12" value=model.address.address1}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-sm-3 no-padding-right" for="address2">Address 2:</label>
                            <div class="col-xs-9">
                                <div class="clearfix">
                                    {{input type="text" id="address2" class="col-xs-12" value=model.address.address2}}
                                </div>
                            </div>
                        </div>
                        {{address-select addressModel=model.address hideLabels=false defaultProvince="KZ"}}
                        <div class="row form-group">
                            <div class="col-xs-6">
                                <label class="control-label col-xs-6 no-padding-right" for="lat">Latitude:</label>
                                <div class="col-xs-6">
                                    <div class="clearfix">
                                        {{input type="text" id="lat" class="col-xs-12" value=model.address.lat}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label col-xs-6 no-padding-right" for="lng">Longitude:</label>
                                <div class="col-xs-6">
                                    <div class="clearfix">
                                        {{input type="text" id="lng" class="col-xs-12" value=model.address.lng}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-sm-3 no-padding-right" for="map">Map:</label>
                            <div class="col-xs-9">
                                <div class="clearfix">
                                    {{google-map lat=centerLat
                                         lng=centerLng
                                         zoom=zoom
                                         autoFitBounds=true
                                         gopt_zoomControl=true
                                         markers=marker
                                         markerViewClass='map/marker'
                                         type='map'}}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
		</div>
	</div>
</div>